// Cores
$goiaba:#EA8079;
$azul:#84B8E2;
$texto:#585858;
$degrade-goiaba:linear-gradient(269.41deg, #DB5D79 0.41%, #E2645A 99.41%);
$sombra:0px 3px 10px rgba(88, 88, 88, 0.1), 0px 16px 31px rgba(88, 88, 88, 0.1);
$cinza-escuro: #585858;
$cinza-claro:#9B9A9A;